body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.detailesBox{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid orange;
}
.info,
.summerSpecial{
    text-align: center;
}

.offer {
    text-align: center;
    padding: 30px 20px;
}

.offer h2{
    font-size: 20px;
    margin-bottom: 8px;
    color:#222;    
}
.offer p{
    color: #555;
    font-size: 14px;
}

body{
    background-color: #f2f2f2;
}


.booking {
max-width: 655px;
margin:  30px  auto;
border: 1px solid #ddd;
padding: 25px;
border-radius: 6px;
border-color: #f2f2f2;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
 
}

.booking h3{
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;

}

.underlined{
    text-decoration: underline;
}

.booking form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 15px;
    color: #333;
    
}
.booking label{
font-weight: bold;
font-size: 14px;
color: #333;

}

.booking input,
.booking select{
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
}


.booking button{
    background-color: rgb(197, 65, 17);
    color: #fff;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-weight: bold;

}

.booking button:hover{
    background-color: #cc4219;
}

footer{
    background-color: #e95420;
    color: #fff;
    text-align: center;
    padding: 30px;
    font-size: 14px;
    margin-top: 10px;
}